body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-grid {
  display: flex;
  flex-direction: row;
  width: 200px;
  flex-wrap: wrap;
}

.grid-item {
  width: 100px;
  height: 100px;
}

.counter {
  display: flex;
  margin: 3vw;
}

.control {
  height: 30px;
  margin: 0 10px;
}

p {
  margin: 0;
}